		@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
		* {
			font-family: 'PT Serif', serif;
			padding:0;
			margin:0;
			border:0;
			list-style:none;
		}

		img.logo {
               width:200px;
               height:150px;}

		ul.yanmenü > li > a {text-decoration:none;
		   					 color:white;		
		}
		ul.yanmenü {
			position:fixed;
			background-color:#424242;
			width:180px;
            height:635px;
            text-align:left;
		}
		ul.yanmenü > li {
			border-top:0.5px solid black;
			padding:10px;
		}
		ul.yanmenü li.purptrans:hover {
			background-color:#212121;
			
		}
		ul.yanmenü ul li a {
			display:block;
			text-decoration:none;
			color:white;
		}
		ul.yanmenü li ul {
			display:none;
			position:relative;
			height:75px;
			width:170px;

		}
		ul.yanmenü li:hover ul {
			display:block;
		}
		ul.yanmenü li ul li {
			position:relative;
			top:0;
			left:0;
			padding-top:7px;
			padding-bottom:7px;
			text-align:center;
			border-radius:1rem 1rem 1rem 1rem;
				}
		ul.yanmenü ul li:hover {
			box-shadow:inset 2px 0px 7.5px #424242;
		}	
		li.ikincimenü  ul  li  a {
			color:white;
		}